body {
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
    color: lightseagreen;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-left: 0 auto;
    
}



.navbar {
    background-color: #017c80ef;
    margin-top: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 30px 10px;
    transition: 0.4s;
}

.navbar li {
    display: table-cell;
    padding: 0.75rem 1.3rem;
    font-family: 'Noto Serif', serif;
    font-size: 2 rem;
    border-style: none;
    border: 1px;

}

a {
    list-style-type: none;
    color: white;
    text-decoration: none;
  
    
}

a:hover {
    background-color: lightseagreen;
    display: block;
    padding: 10px 2px;
       
        
}

.main {
    margin-top: 10%;
    
}

h1  {
    margin-left: 5%;
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    
}

.images {
    display: block;
    width: 40%;
    margin: 1.5%;
    height: auto;
    
    
}

.nameoftheplace {
    margin-left: 5.5%;
    margin-top: 0;
    font-size: 0.7rem;
    font-weight: bold;
    color:orangered;
    font-family: 'Noto Serif', serif;
    
   
}

h2 {
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    
}

p {
    padding: 8px 15px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    margin: 30px 100px;
    text-align: center;
    max-width: 80%;
   

}

.aside {
    margin: 40px 80px;
    border: 1px solid darkslategrey;
    border-width: 5px;
    background-color: darkslategrey;
    color: white;
    line-height: 1.5em;
    letter-spacing: 00.2em;
    max-width: 80%;
   
}

.discovery {
    display: list-item;
    list-style-type: square;
}


footer {
    font-family: 'Cormorant Garamond', serif;
}

@media only screen and (max-width: 768px) {
   .navbar  {
       padding: 50px 10px;
      
    }
    .main {
        margin-top:32%;
  }
  .navbar li {
      display: list-item;
      margin-top: 0;
      line-height: 0;
      font-size: 1rem;
      list-style: none;
  }
   
  ul {
    margin-top: 0%;
    padding-top: 0%;
    position: relative;
    bottom: 30px;
  }


}
